APP_KEY=
APP_URL=https://absensi.example.org
FRONTEND_URL=https://absensi.example.org
SANCTUM_STATEFUL_DOMAINS=absensi.example.org

DB_DATABASE=absensi_santri
DB_USERNAME=tebuireng
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

HTTP_PORT=8080
WA_GATEWAY_PORT=3000
WA_API_KEY=ganti_dengan_api_key_rahasia_bot_wa
WA_GATEWAY_URL=http://wa-gateway:3000
